.tweet h2 { 
   color: white; 
   font: bold 12px/14px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background-color: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   border: 2px solid;
   border-radius: 8px;
}

body {
    background-color: black;
}

.about {
   position: absolute;
   top: 20%;
   right: 45%;
   z-index: 100;
   color: white; 
   font: bold 12px/14px Helvetica, Sans-Serif; 
/*   letter-spacing: -1px;  */
   background-color: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   border: 2px solid;
   border-radius: 8px;

}