<html>
    <head>
        <title> Floating bubbles For Your Website </title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
        // $("body").css("overflow", "hidden");
        function bubble(objName,x,y,z,content) {
            this.name = objName;
            this.x = x;
            this.y = y;
            this.z = z;
            this.count = Math.random(40);
            this.remX = x;
            this.remY = y;
            this.moveUp = moveUp;
            this.loopID = objName+""+x+""+y+""+z;
            // makeDiv(objName,x,y,'<img src="bubble4.png"><h2><span>Test Test tes test tes</span></h2>');
            makeDiv(objName,x,y,content);
        }
        // have to do it like this so it wont look bad in FireFox
        function startBubbles(nmCount, totalCount) {

            if (nmCount<5) {
            //for (var nmCount = 0; nmCount<13; nmCount++) {

                var bubbleNm = "bubble"+nmCount+totalCount;
                var ranX = randomizeX();
                var ranY = randomizeY();
                var ranZ = randomize(3);
                // var content = '<img src="static/images/bubble4.png"><h2><span>{{the_text}}</span></h2>';
                // xmlhttp = new XMLHttpRequest();
                // xmlhttp.open("GET","/",true);
                // xmlhttp.send();
                // var content = xmlhttp.responseText;
                var dcontent;

                $.getJSON( "/gettweet", function( data ) {
                    if (data.thelink) {
                        dcontent = "<h2>"+data.tweet+" <a href="+data.thelink+" target='_blank'>"+data.thelink+"</a> </h2>";
                    } else {
                        dcontent = "<h2>"+data.tweet+"</h2>"
                    }


                    eval(bubbleNm+' = new bubble("'+bubbleNm+'",ranX,ranY,ranZ,dcontent);  ');
                    eval(bubbleNm+'.loopID = setInterval("'+bubbleNm+'.moveUp();",80);  ');
                    // alert( "Load was performed." + data );
                });

                // eval(bubbleNm+' = new bubble("'+bubbleNm+'",ranX,ranY,ranZ,dcontent);  ');
                // // bubbleNm = new bubble(bubbleNm,ranX,ranY,ranZ);
                // //bubbleNm = setInterval(bubbleNm+".moveUp();",40);
                // eval(bubbleNm+'.loopID = setInterval("'+bubbleNm+'.moveUp();",20);  ');

            //}

                nmCount++;
                setTimeout('startBubbles('+nmCount+','+totalCount+');',2500);
            }
        }
        </script>
    </head>
    <body bgcolor="549BD2" onLoad="hideLoadbar();">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Tweetquarium</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Styles <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/">Quarium</a></li>
                    <li><a href="Space">Space</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left" role="search" action='/changefilter' method='POST'>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="I want to watch..." name="thefilter">
                </div>
                <button type="submit" class="btn btn-default">Bubble!</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Tumblr</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Etc.</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        {% if style == 'quarium' %}
        <div id='div1'><iframe width="100%" height="100%" src="http://www.youtube.com/embed/VIrBecB746c?rel=0&autoplay=1&loop=1&playlist=VIrBecB746c" frameborder="0"></iframe></div>
        {% elif style == 'space' %}
        <iframe width="100%" height="100%" src="//www.youtube.com/embed/5vOU6-1yNZs?rel=0&autoplay=1&loop=1&playlist=5vOU6-1yNZs" frameborder="0" allowfullscreen></iframe>
        {% endif %}

<!--         <table width="100%" height="100%"><tr><td align="center" valign="center" width="100%" height="100%">
        <form action='/changefilter' method='POST'>
            I want to watch: <input type="text" name="thefilter"><br>
        </form>
        <input type="checkbox" name="c1" onclick="showMe('div1')">Show Space Tweets
        <img src="{{ url_for('static', filename='images/bubble4.png') }}">
        <p>{{the_text}}</p> -->
        <div id="alt">

                <script language="javascript" src="{{ url_for('static', filename='core.js') }}"></script>

                <script language="javascript" src="{{ url_for('static', filename='main.js') }}"></script>

                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

                <!-- Optional theme -->
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

                <!-- Latest compiled and minified JavaScript -->
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        </div>  <!-- alt Div End //-->

        </td></tr></table> <!-- center all table End //-->

    </body>
</html>
